body{
  background:#0b0f1a;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

h1{
  margin:15px 0;
}

.games{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  padding:15px;
}

.game{
  background:#111;
  padding:10px;
  border-radius:12px;
}

.game img{
  width:100%;
  border-radius:10px;
}

.game a{
  display:block;
  margin-top:8px;
  background:#ff512f;
  color:white;
  padding:8px;
  border-radius:8px;
  text-decoration:none;
}
