body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #020024, #090979, #000);
  color: white;
}

header {
  text-align: center;
  padding: 30px 10px;
}

header h1 {
  color: #00c8ff;
  font-size: 32px;
}

.games {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.game-card {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 12px;
  background: #000;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
 
.btn{
  display:inline-block;
  padding:10px 18px;
  background:#ff3d00;
  color:white;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

.btn:hover{
  background:#e53935;
}
